* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
blue: #0072CE;
black: #1F1F1F; 
*/

body {
    font-family: "Noto Sans", sans-serif;
}

header {
    background-color: black;
    padding: .5rem 0;
}

header img {
    height: 1.5rem;
    
}

#features svg {
    height: 5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    overflow: hidden;
    padding: 0 1.25rem;
    background-color: white;
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
}

.txt {
    font-size: 1.1rem;
    font-weight: 600;
    color: #1F1F1F;
}

.nav-links {
    text-decoration: none;
    padding: 1.5rem 1rem; 
}

.nav-links:hover {
    color: #0072CE;
}

.blue-btn {
    text-decoration: none;
    color: white;
    background-color: #0072CE;
    padding: .3rem 1rem;
    border-radius: 32px;
}

.blue-btn:hover {
    background-color: #0064b7;
}

.search-bar {
    font-family: "Noto Sans", sans-serif;
    padding: .5rem 1rem;
    width: 10rem;
}